<% @transactions.each do |transaction| %>
  ID: <%= transaction.id %>
  Merchant: <%= transaction.merchant.name %>
  Tag: <%= transaction.tag.name %>
  Value: <%= transaction.value %>
  Date: <%= transaction.transaction_date %>
  Description: <%= transaction.description %>
  <br>
<% end %>
<br>

Total transaction value: <%= @analysis.total_expenditure %>
<br><br>

<b>Filter transactions by tag:</b>

<form action="/analyses" method="post">
  <label for="tag_id">Total by tag:</label>
  <select name="tag_id">
  <% @transactions.each do |transaction| %>
    <option value="<%= transaction.tag_id %>"><%= transaction.tag.name %></option>
  <% end %>
  </select>

  <input type='submit' value="Search by tag">
</form>

