<% @transactions.each do |transaction| %>
  ID: <%= transaction.id %>
  Merchant: <%= transaction.merchant.name %>
  Tag: <%= transaction.tag.name %>
  Value: <%= transaction.value %>
  Date: <%= transaction.transaction_date %>
  Description: <%= transaction.description %>
  <br>
<% end %>
<br>

Total transaction value: <%= @analysis.total_expenditure %>
<br><br>

<!-- <form action="/analyses" method="post">
  <label for="total_by_tag">Total by tag:</label>
  <select name="total_by_tag">
  <% @transactions.each do |transaction| %>
    <option value="<%= transaction.tag_id %>"><%= transaction.tag.name %></option>
  <% end %>
  </select>
</form>

Total transaction value by tag: <%= @analysis.total_expenditure_by_tag(2) %> -->

