<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Merchant</th>
      <th>Tag</th>
      <th>Value</th>
      <th>Date</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>

    <% @transactions.each do |transaction| %>
    <tr>
      <td><%= transaction.id %></td>
      <td><%= transaction.merchant.name %></td>
      <td><%= transaction.tag.name %></td>
      <td><%= transaction.value %></td>
      <td><%= transaction.transaction_date %></td>
      <td><%= transaction.description %></td>
    </tr>
    <% end %>

  </tbody>
</table>
<br>

Total transaction value: <b><%= @analysis.total_expenditure.round(2) %></b>
<br><br>

<b>Filter transactions by tag:</b>

<form action="/analyses" method="post">
  <label for="tag_id">Total by tag:</label>
  <select name="tag_id">
  <% @transactions.each do |transaction| %>
    <option value="<%= transaction.tag_id %>"><%= transaction.tag.name %></option>
  <% end %>
  </select>

  <input type='submit' value="Search by tag">
</form>

<br>
<b>View as</b>
<a href="/json">JSON</a><br>

<br>
<b>Download</b>
<a href="/json/download">JSON</a><br>

