<div class="new-edit">
  <h2>Edit an existing transaction:</h2>

  <form action="/transactions/<%= @transaction.id %>" method="post">

    <label for="merchant_id">Merchant ID:</label>
    <input type="text" required="required" name="merchant_id" value="<%= @transaction.merchant_id() %>">

    <label for="tag_id">Tag ID:</label>
    <input type="text" required="required" name="tag_id" value="<%= @transaction.tag_id() %>">

    <label for="value">Value:</label>
    <input type="number" required="required" min="0.01" step="0.01" name="value" value="<%= @transaction.value() %>">

    <br>
    <label for="transaction_date">Transaction date:</label>
    <input type="date" required="required" name="transaction_date" value="<%= @transaction.transaction_date() %>">

    <label for="description">Description:</label>
    <input type="text" required="required" name="description" value="<%= @transaction.description() %>">

    <input type='submit' value="Update">
  </form>
</div>