<a href="/transactions/new">Add new transaction</a><br>

<% @transactions.each do |transaction| %>
  <%= transaction.merchant_id %>
  <%= transaction.tag_id %>
  <%= transaction.value %>
  <%= transaction.transaction_date %>
  <%= transaction.description %>
  <br>
<% end %>