<table class="table-centre">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Merchant</th>
      <th scope="col">Tag</th>
      <th scope="col">Value</th>
      <th scope="col">Date</th>
      <th scope="col">Description</th>
      <th scope="col">View</th>
    </tr>
  </thead>
  <tbody>

    <% @transactions.each do |transaction| %>
    <tr>
      <td><%= transaction.id %></td>
      <td><%= transaction.merchant.name %></td>
      <td><%= transaction.tag.name %></td>
      <td><%= "%.2f" % transaction.value %></td>
      <td><%= transaction.transaction_date %></td>
      <td><%= transaction.description %></td>
      <td><a href="/transactions/<%= transaction.id %>">View</a></td>
    </tr>
    <% end %>
  </tbody>

  <div><a id="add-merchant" href="/transactions/new">Add new transaction</a><div>